* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anton-Regular', sans-serif;
  /* scroll-behavior: smooth; */
}
/* main {
  width: 100%;
} */
@font-face {
  font-family: 'Anton-Regular';
  src: url('Anton/Anton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* MENU-NAVBAR */
#header {
  background-color:#262626;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;  
 
}

#wimg{
    max-width: 100%;
    width: 100px;
    height: 100px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
    /* position: fixed; */
    /* width: 100%;  */
   
  min-height: 0px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  
  padding:0 24px;
  height: 8vh;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  color: rgb(194, 55, 55);
  transition: 0.7 ease;
  position: relative;
  font-family: 'Anton-Regular';
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 1.2px;
}


/* ANIMATION-HOVER */
.nav-link::before {
  top: 3.5vh;
  content: '';
  position: absolute;
  width: 100%;
  height: 2.2px;
  border-radius: 4px;
  background-color: rgb(236, 170, 170);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);  
  transition: transform .3s ease-in-out;
}

.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(194, 55, 55);
}


/* PREMIERE PHOTO */
.imgone{
max-width: 50vh;
}

.txt1{
  color: #fefefe;
  align-items: center;
  text-align: center;
  /* padding-left: vh; */
}

/* IMGAGE_LOGO */
#containlogo{
  background-image: url("images/la fab internet6.png");
  background-size: cover;
  max-width: 100%;
  height: 100%;
  padding:  30%;
  aspect-ratio: 3/2;
  margin-top: 7vh;
 
}

/* ANIMATION-SCROLL */

.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	/* margin-top: 125px; */
  position: absolute;
  margin-top: -45vh;
  margin-left: 48.2vw;
 
 
  
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid rgb(194, 55, 55);
  border-bottom: 2px solid rgb(194, 55, 55);
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid rgb(194, 55, 55);
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: rgb(194, 55, 55);
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid rgb(194, 55, 55);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
/* END ANIMATION SCROLL */


/* MAIN-CONTENT */
#content{
  background: linear-gradient(to right, #941010 50%, #fefefe 50% );
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 15vh;
  margin-bottom: 10vh;
  
}

 /* PREMIERE BOITE BLANCHE */
.whitebox1{
  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
  margin-top: -74vh;
  margin-left: 8.6vw;
  width: 30vw;
  height: 40vh;
  padding: 8vh;
  margin-bottom: 100vh;
}

.rich{
  /* text-align: center; */
  font-size: 1.8em;
  color: #941010;
}
.rich2{
  text-align: center;
}
p{
 font-weight: 2px; 
}

/* PARTI SOURIR */

/* #box_el{
  margin-top: -20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 50vh;
  justify-content: center;
  margin-bottom: 30%;

} */



.elem2{
  
}

.contenttwo{
  margin-bottom: 50%;
  margin-top: -20%;
}
#myimgtwo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20%;
}
.imgtwo{
  max-width: 30%;
}
.elem1{
  /* position: relative; */
  background-color: #941010;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center;
  text-align: center; */
  margin-top: -60vh;
  margin-right: 8.6vw;
  width: 30vw;
  height: 40vh;
  padding: 8vh;
  z-index: -1;
  

}
.elem2{
  /* position: relative; */
  background-color: #C93E3E;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center;
  text-align: center; */
  margin-top: -10vh;
  margin-right: 8.6vw;
  width: 21.3vw;
  height: 40vh;
  padding: 8vh;
  z-index: -1;
  

}



.whitebox2{
  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
  margin-top: -84vh;
  margin-left: 8.6vw;
  width: 30vw;
  height: 40vh;
  padding: 8vh;
 
}
 /* FIN CONTENT SOURIR */

 #main2{
  /* background-color: #EEF2F9; */
  background: linear-gradient(to right, #fefefe 50%, #941010 50%);
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 120vh;
  padding: 15vh;
  margin-bottom: 5%;
  margin-top: -8%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-bottom: 20%; */
  
}
.imgthree{
  max-width: 100%;
  margin-top: -70vh;
  }


  .whitebox3{
    position: relative;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    margin-top: -20vh;
    margin-right: 35vw;
    width: 35vw;
    height: 40vh;
    padding: 8vh;
   
  }

  #main3{
    background-color:#941010 ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
    height: 120vh;
    padding: 15vh;
    
    margin-top: 20%;
   
    display: flex;
    z-index: 1;
    
   
    
  }

  .imgfour{
    max-width: 40%;
    z-index: 1;
  }


  .whitebox4{
    /* position: relative; */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    margin-top: -115vh;
    margin-left: 40%;
    width: 40%;
    height: 60vh;
    padding: 8vh;
    margin-bottom: 29%;
    
   
  }
  .form-input {
    display: block;
    margin: 10px;
    border: none;
    border-bottom: 1px solid #000000;
    width: 70%;
 
}

.contact{
  margin-top: -20vh;
  
}
.cont{
  text-align: center;
}
#submit{
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin-left: 3%;
}


/* EN BAS */
#footer{
background-color:#262626;
  
/* top: 0; */
width: 100%;
}

.botom{
  color: white;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  padding:0 50px;
  height: 20vh;
}

@media (max-width:1111px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity:0 ;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    /* font-family: 'Anton-Regular'; */
    top: 7vh;
    gap: 0.1;
    flex-direction: column;
    background-color: #262626ec;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 4vh;
    font-size: 1.6em;
}

 
.nav-item{
    margin: 16px 0 ;
  }

  .nav-menu.active{
    left: 0;
  }

  .mouse_scroll{
    display: none;

  }
  #content{
    /* background-color: #EEF2F9; */
    background: linear-gradient(to right,  #941010 50%,#fefefe 50%);
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 15vh;
    
  }
  
  /* PREMIERE BOITE BLANCHE */
  .whitebox1{
    /* position: relative; */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: center; */
    margin-top: -30vh;
    /* margin-left: 8.4vw; */
    width: 90vw;
    height: 30vh;
    padding: 2vh;
    margin-bottom: 100vh;
    margin-left: 3vW;
    
    
  }
  .imgone{
    width: 55vw;
    }
    
  
}







