*{
    margin: 0;
    padding: 0;
}

/* #main4{
    background-color:#941010 ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
    height: 120vh;
    padding: 15vh;

    margin-top: 10%;
   
    display: flex;
    z-index: 1;
    
   
} */

#myimgfive{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20%;
}



#main4{
    /* background-color: #EEF2F9; */
    background: linear-gradient(to right, #fefefe 50%, #941010 50%);
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 120vh;
    padding: 15vh;
    margin-bottom: 5%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-bottom: 20%; */
    
  }
  .imgfive{
    margin-top: 30vh;
    max-width: 80%;
   
}

.whitebox5{
    position: relative;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin-top: -54vh;
    /* margin-right: 35vw; */
    width: 35vw;
    height: 40vh;
    padding: 8vh;
    border-radius: 10px;
   
  }