.containtarif{
    background-image: url("images/la\ fab\ devanture\ A3.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 35vw;
    margin-top: 5vh;
    background-position: center;
   
  
  }
